@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('/fonts/open-sans-regular.woff2') format('woff2'),
         url('/fonts/open-sans-regular.woff') format('woff');
  }
  @import url('https://fonts.googleapis.com/css?family=Bebas+Neue');

  .navbar {
    font-family: 'Open Sans';
    font-weight: bold;
    opacity: 85%;
  }

  .banner {
    display: flex;
    background: url(assets/main-bg.jpg) no-repeat center center;
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 20%;
	box-shadow: 0 0 100px black inset;
    color: white;
  }

  .message-1 {
    font-family: 'Open Sans';
    display: flex;
    font-weight: 600;
    font-size: 55px;
    justify-content: center;
  }

  .message-2 {
        position: absolute;
        bottom: -18%;
        left: 51%;
        margin-left: -51px;
  }
  .quote {
    font-family: 'Open Sans';
  }
  .play-now {
    font-family: 'Open Sans';
    font-weight: bolder;
    padding-left: 50px;
    padding-right: 50px;
  }

  .scroll-icon {
    background-image: url(assets/scroll-down.svg) no-repeat scroll center center transparent;
    width: 50px;
    height: 50px;
  }

  .the-games {
    background: url(assets/the-games-bg.jpg) center center no-repeat ;
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 20%;
    color: white;
    box-shadow: 0 0 100px black inset;
    display: flex;
  }
  .carousel-control-prev-icon {
    background-image: url(assets/switch-left.svg);
  }
  .carousel-control-next-icon {
    background-image: url(assets/switch-right.svg);
  }
  .carousel-indicators {
    
  }